{{- .Scratch.Set "sitevar" $.Site -}}
{{- partial "css/color/parse_color.css" . -}}
{{- .Scratch.Set "background_src" "" -}}
{{- .Scratch.Set "background_src_medium" "" -}}
{{- .Scratch.Set "background_src_small" "" -}}
{{- $scr := .Scratch -}}
{{- with $.Site.Params.background.src -}}
  {{- $scr.Set "background_src" . -}}
  {{- $scr.Set "background_src_medium" . -}}
  {{- $scr.Set "background_src_small" . -}}
{{- end -}}
{{- with $.Site.Params.background.medium_src -}}
  {{- $scr.Set "background_src_medium" . -}}
  {{- $scr.Set "background_src_small" . -}}
{{- end -}}
{{- with $.Site.Params.background.small_src -}}
  {{- $scr.Set "background_src_small" . -}}
{{- end -}}
{{- if ($.Site.Params.background.tile) -}}{{- .Scratch.Set "background_tile" "repeat" -}}{{- else -}}{{- .Scratch.Set "background_tile" "no-repeat" -}}{{- end -}}
{{- if ($.Site.Params.background.fit_width) -}}{{- .Scratch.Set "background_fit" "contain" -}}{{- else -}}{{- .Scratch.Set "background_fit" "cover" -}}{{- end -}}
{{- $scr := .Scratch -}}
{{- range $label := (slice "main_bg" "alt_bg" "accent") -}}
  {{- $scr.Set "label" $label -}}
  {{- partial "css/color/detect_light_or_dark.css" $scr -}}
{{- end -}}

{{- .Scratch.Set "css" (partial "css/reset.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/base_classes.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/screen_size.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/handwriting.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/page.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/navigation.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/fonts.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/single.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/forms.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/table.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/list.css" .Scratch) -}}
{{- .Scratch.Add "css" (partial "css/widgets.css" .Scratch) -}}
{{- if ($.Site.Params.hashover) -}}{{- .Scratch.Add "css" (partial "css/hashover.css" .Scratch) -}}{{- end -}}
{{- .Scratch.Add "css" (partial "css/print.css" .Scratch) -}}

{{- if $.Site.Params.no_minimize -}}
{{- .Scratch.Get "css" -}}
{{- else -}}
{{- .Scratch.Get "css" | replaceRE "(?m)(;\\s+)" ";" | replaceRE "(?m)(\\s*{\\s*)" "{" | replaceRE "(?m)(\\s*}\\s*)" "}" | replaceRE "(?m)(\\s*:\\s*)" ":" | replaceRE "(?m)(\\s*,\\s*)" "," | replaceRE "\\/\\*[^*]*\\*+([^/*][^*]*\\*+)*\\/" "" | replaceRE "(?m)(\\s+)" " " -}}
{{- end -}}
