@font-face {
  font-family: "Clear Sans";
  src: url('css/fonts/clear-sans/ClearSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url('css/fonts/clear-sans/ClearSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Clear Sans";
  src: url('css/fonts/clear-sans/ClearSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url('css/fonts/clear-sans/ClearSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Clear Sans";
  src: url('css/fonts/clear-sans/ClearSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url('css/fonts/clear-sans/ClearSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Clear Sans";
  src: url('css/fonts/clear-sans/ClearSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url('css/fonts/clear-sans/ClearSans-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src: url('css/fonts/zilla-slab/ZillaSlab-Regular.woff2') format('woff2'), url('css/fonts/zilla-slab/ZillaSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src: url('css/fonts/zilla-slab/ZillaSlab-RegularItalic.woff2') format('woff2'), url('css/fonts/zilla-slab/ZillaSlab-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Zilla Slab";
  src: url('css/fonts/zilla-slab/ZillaSlab-Light.woff2') format('woff2'), url('css/fonts/zilla-slab/ZillaSlab-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src: url('css/fonts/zilla-slab/ZillaSlab-LightItalic.woff2') format('woff2'), url('css/fonts/zilla-slab/ZillaSlab-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Zilla Slab";
  src: url('css/fonts/zilla-slab/ZillaSlab-Medium.woff2') format('woff2'), url('css/fonts/zilla-slab/ZillaSlab-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src: url('css/fonts/zilla-slab/ZillaSlab-MediumItalic.woff2') format('woff2'), url('css/fonts/zilla-slab/ZillaSlab-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Zilla Slab";
  src: url('css/fonts/zilla-slab/ZillaSlab-SemiBold.woff2') format('woff2'), url('css/fonts/zilla-slab/ZillaSlab-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src: url('css/fonts/zilla-slab/ZillaSlab-SemiBoldItalic.woff2') format('woff2'), url('css/fonts/zilla-slab/ZillaSlab-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Zilla Slab";
  src: url('css/fonts/zilla-slab/ZillaSlab-Bold.woff2') format('woff2'), url('css/fonts/zilla-slab/ZillaSlab-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src: url('css/fonts/zilla-slab/ZillaSlab-BoldItalic.woff2') format('woff2'), url('css/fonts/zilla-slab/ZillaSlab-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-Regular.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-It.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-Bold.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-BoldIt.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-Light.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-LightIt.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-ExtraLight.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-ExtraLightIt.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-ExtraLightIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-Medium.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-MediumIt.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-MediumIt.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-SemiBold.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-SemiBoldIt.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-SemiBoldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-Black.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('css/fonts/sourcecodepro/SourceCodePro-BlackIt.woff2') format('woff2'), url('css/fonts/sourcecodepro/SourceCodePro-BlackIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family:'allura';
  src: url('css/fonts/allura/allura-regular.woff2') format('woff2'), url('css/fonts/allura/allura-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'calligraffiti';
  src: url('css/fonts/calligraffiti/calligraffiti.woff2') format('woff2'), url('css/fonts/calligraffiti/calligraffiti.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'dancingscript';
  src: url('css/fonts/dancingscript/dancingscript-regular.woff2') format('woff2'), url('css/fonts/dancingscript/dancingscript-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'euphoriascript';
  src: url('css/fonts/euphoriascript/euphoriascript-regular.woff2') format('woff2'), url('css/fonts/euphoriascript/euphoriascript-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'journal';
  src: url('css/fonts/journal/journal.woff2') format('woff2'), url('css/fonts/journal/journal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'kingthings-wrote';
  src: url('css/fonts/kingthings-wrote/kingthings-wrote.woff2') format('woff2'), url('css/fonts/kingthings-wrote/kingthings-wrote.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'note-this';
  src: url('css/fonts/note-this/note-this.woff2') format('woff2'), url('css/fonts/note-this/note-this.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'vag-handwritten';
  src: url('css/fonts/vag-handwritten/vag-handwritten.woff2') format('woff2'), url('css/fonts/vag-handwritten/vag-handwritten.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'danielblack';
  src: url('css/fonts/daniel/daniel-black-webfont.woff2') format('woff2'), url('css/fonts/daniel/daniel-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'daniel';
  src: url('css/fonts/daniel/daniel-bold.woff2') format('woff2'), url('css/fonts/daniel/daniel-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family:'daniel';
  src: url('css/fonts/daniel/daniel-regular.woff2') format('woff2'), url('css/fonts/daniel/daniel-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

{{- $body_style := lower (default "sans-serif" (.Get "sitevar").Params.fonts.body_style) -}}
{{- $header_style := lower (default "sans-serif" (.Get "sitevar").Params.fonts.header_style) -}}

body {
  {{- if eq $body_style "serif" -}}
  font-family: "Zilla Slab", serif;
  {{- else -}}
  font-family: "Clear Sans", sans-serif;
  {{- end -}}
}

{{- if ne $body_style $header_style -}}
header:not(.fa), h1, h2, h3, h4, h5, h6, .widget-header:not(.fa), .button {
  {{- if eq $header_style "serif" -}}
  font-family: "Zilla Slab", serif;
  {{- else -}}
  font-family: "Clear Sans", sans-serif;
  {{- end -}}
}
{{- end -}}

.serif {
  font-family: "Zilla Slab", serif !important;
}

.sans-serif {
  font-family: "Clear Sans", sans-serif !important;
}
