/* Normal tables */

table {
  font-size: 90%;
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow-x: auto;
  border: none !important;
}

table, table thead th, table tbody td {
  border: 1px solid {{ .Get "body_text" }};
  border-collapse: collapse;
  overflow-wrap: break-word;
  white-space: normal;
}

table thead th {
  background-color: {{ .Get "accent" }};
  color: {{ .Get "header_text" }};
}

table thead th a, table thead th a:hover {
  color: {{ .Get "header_text" }};
  text-decoration: underline;
}

table thead, table tbody {
  width: 100%;
  max-width: 100%;
  overflow-wrap: inherit;
}

table tbody tr {
  color: {{ .Get "body_text" }};
  background-color: {{ .Get "main_bg" }};
  width: 100%;
  max-width: 100%;
}

table tbody tr:nth-child(even) {
  background-color: {{ .Get "alt_bg" }};
}

/* Responsive tables */

@media only screen and (max-width: 720px) {

  table.responsive {
    overflow-wrap: break-word;
  }

  table.responsive thead {
    display: none;
  }

  table.responsive tr {
    display: -webkit-flex;
  	display: flex;
  	-webkit-flex-direction: row;
  	flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  table.responsive td {
    border: collapse;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
  	flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex: 0 0 100%;
    width: 100%;
    align-items: center;
    max-width: 100%;
  }

  table.responsive td span {
    display: block;
    overflow-wrap: break-word;
    flex: 2 1 100%;
    text-align: right;
    padding: 0.5rem;
  }

  table.responsive td::before {
    content: attr(data-label);
    display: inline-block;
    padding: 0.5rem;
    font-weight: bolder;
    flex: 1 2 100%;
    color: {{ .Get "accent" }};
    margin-right: 0.1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
  }
}
